/*
    PluginDraft CSS styles
*/

.contentscroll {
}

#contentscroll {
    width:100%;
    height: 170px;
    position: relative;
}

#contentscroll div.scrollableArea img {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* NOTICE message */
.contentscroll-notice {
    display: table;
    margin: 2px 0;
    border: 1px solid #777;
    background-color: #eee;
}
.contentscroll-notice div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #777;
    height: inherit;
}
.contentscroll-notice span {
    display: table-cell;
    padding: 2px 4px;
    color: #777;
}

/* SUCCESS message */
.contentscroll-success {
    display: table;
    margin: 2px 0;
    border: 1px solid #2a0;
    background-color: #efe;
}
.contentscroll-success div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #2a0;
    height: inherit;
}
.contentscroll-success span {
    display: table-cell;
    padding: 2px 4px;
    color: #2a0;
}

/* ERROR message */
.contentscroll-error {
    display: table;
    margin: 2px 0;
    border: 1px solid #f33;
    background-color: #fee;
}
.contentscroll-error div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f33;
    height: inherit;
}
.contentscroll-error span {
    display: table-cell;
    padding: 2px 4px;
    color: #f33;
}
